<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Submit Team</title>
</head>
<body style="background-color:rgb(68, 57, 57);">
<form th:object="${team}" th:action="@{/addteam}" th:method="post" id="form">
    <label for="manager">Manager:</label>
    <input type="text" id="manager" th:field="*{manager}"/><br><br>

    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}"/><br><br>

    <label for="wins">Wins:</label>
    <input type="number" id="wins" th:field="*{wins}"/><br><br>

    <label for="draws">Draws:</label>
    <input type="number" id="draws" th:field="*{draws}"/><br><br>

    <label for="losses">Losses:</label>
    <input type="number" id="losses" th:field="*{losses}"/><br><br>

    <input type="submit" value="Submit">
</form>
<form th:action="@{/main}" th:method="get">
    <label>Return to main screen</label>
    <input type="submit" value="Main">
</form>
</body>
</html>